html {
    scroll-behavior: smooth;
    background-color: #F0FFFF;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgb(155, 170, 182);
}
header * {
    display: inline;
}
header ul {
    padding: 0;
}
header li {
    margin-left: 20px;
}
header a {
  text-decoration: none;
  color: rgb(244, 248, 255);
}
header a:hover {
  color: rgb(67, 70, 83);
}
section {
    height: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}
img.microphone{
    padding-top: 40px;
}
#name-title h1 {
  text-align: center;
  font-size: large;
  font-family: 'Actor';
}
#name-title h2 {
  text-align: center;
  font-size: medium;
  font-family: 'Actor';
  padding-top: 30px;
}
#description {
  padding-top: 250px;
  height: 200px;
  width: 30%;
  font-size: 2em;
  padding-left: 40px;
  color: rgb(162, 171, 179);
}
section #about {
    background-image: url(profile.img)
}