html {
    scroll-behavior: smooth;
    background-color: #556b80;
    font-family: 'Poppins';
    color: #CBB9A8;
}
/* nav bar */
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background: #384d5f;
}
nav {
  float: left;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 80px;
  padding-bottom: 10px;
  position: relative;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #CBB9A8;
}
header a:hover {
  color: #81756a;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #81756a;

  position: absolute;
  top: 0;
  width: 0%;
}
nav a:hover::before {
  width: 100%;
}
section {
    height: 100% - 500px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;
}
/*column for description*/
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#about-container {
  background-color:  #c4d4e4;
  margin: 80px 80px;
}
#about-container h2 {
  text-align: left;
}
#about img {
  float: right;
}

#description {
  height: 200px;
  width: 40%;
  font-size: 2em;
  padding-left: 40px;
}
#profile-pic img {
  position: relative;
}
img.microphone{
  padding-top: 40px;
}